{{"<!-- end Contact Area -->" | safeHTML}}
<footer id="footer" class="bg-one">
	<div class="container">
		<div class="row wow fadeInUp" data-wow-duration="500ms">
			<div class="col-lg-12">

				{{"<!-- Footer Social Links -->" | safeHTML}}
				<div class="social-icon">
					<ul class="list-inline">
						{{ range .Site.Params.footer.socialIcon }}
            <li><a href="{{ .url }}"><i class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>

				{{"<!-- copyright -->" | safeHTML}}
				<div class="copyright text-center">
					<a href="{{ .Site.BaseURL | absURL }}">
						<img src="{{ .Site.Params.logo | absURL }}" alt="Meghna" /> 
					</a>
					<br>

					<p>Design And Developed by <a href="{{ .Site.Params.footer.copyrightURL | absURL }}"> {{ with .Site.Params.footer.copyright }} {{ . }} {{ end }} </a>. Copyright &copy; <script>
							document.write(new Date().getFullYear())
						</script>. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</footer>
{{"<!-- /footer -->" | safeHTML}}

{{"<!-- Essential Scripts -->" | safeHTML}}
		
		{{"<!-- Main jQuery -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/jquery/dist/jquery.min.js" | absURL}}"></script>
		{{"<!-- Bootstrap 3.1 -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/bootstrap/dist/js/bootstrap.min.js" | absURL}}"></script>
		{{"<!-- Slick Carousel -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/slick-carousel/slick/slick.min.js" | absURL}}"></script>
		{{"<!-- Portfolio Filtering -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/mixitup/mixitup.min.js" | absURL}}"></script>
		{{"<!-- Smooth Scroll -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/smooth-scroll/dist/js/smooth-scroll.min.js" | absURL}}"></script>
		{{"<!-- Magnific popup -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/magnific-popup/dist/jquery.magnific-popup.min.js" | absURL}}"></script>
		{{"<!-- Google Map API -->" | safeHTML}}
		<script type="text/javascript"  src="{{ .Site.Params.gmapAPI | absURL }}"></script>
		{{"<!-- Sticky Nav -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/Sticky/jquery.sticky.js" | absURL}}"></script>
		{{"<!-- Number Counter Script -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/count-to/jquery.countTo.js" | absURL}}"></script>
		{{"<!-- wow.min Script -->" | safeHTML}}
		<script type="text/javascript" src="{{ "plugins/wow/dist/wow.min.js" | absURL}}"></script>
		{{"<!-- Custom js -->" | safeHTML}}
		<script type="text/javascript" src="{{ "js/script.js" | absURL}}"></script>
		<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
		
    </body>
</html>
